PORT=8001
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=colonel_v2
DB_PORT=5432
JWT_SECRET=my_super_secret_key_123
JWT_EXPIRES_IN=24h
NODE_ENV=development

# Invoice n8n webhook URLs (per brand slug)
nestroots_invoice_url=
nestroots_invoice_sheet=
